
*.db
*.opendb
*.tlog
*.idb
*.obj
*/Debug/*
*.tlog
*.pdb
Debug/Clusterize.ilk
*.ilk
*.ilk
*.tlog
*.tlog
*.tlog
*.idb
*.pdb
*.pdb
*.obj
*.obj
*.idb
*.tlog
*.pdb
*.ilk
.vs/Clusterize/v15/Server/sqlite3/db.lock
